li {
	cursor: pointer;
}
ul> li a {
	cursor: pointer;
	position: relative;
	display: inline-block;
	overflow: hidden;
	transition: all 0.3s ease;
}
ul.posts> li a {
	top: 0.5em;
}
ul > li a:hover, ul > li a:active {
	-webkit-transition: background-color 0.6s, color .6s, box-shadow .6s, opacity .2s;
	transition: background-color 0.6s, color .6s, box-shadow .6s, opacity .2s ;
	background-color: grey;
	color: white;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5),0 6px 20px 0 rgba(0,0,0,0.5);
	transform: scale(1.2);
	z-index: +1;
}

ul > li a:before {
	content: "";
	position: absolute;
	z-index: -1;
	left: 100%;
	right: 100%;
	bottom: 0;
	background: dodgerblue;
	width: 100%;
	height: 4px;
	-webkit-transition-property: left, right;
	transition-property: left, right;
	-webkit-transition-duration: 0.6s;
	transition-duration: 0.6s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}

ul > li a:hover:before, ul > li a:active:before {
	left: 0;
	right: 0;
}

div.post section {
	perspective: 100px;
	transition: all 0.8s ease;
}

.leave, 
div.post li:not(:hover) ul, div.post li:not(:active) ul
div.post li:not(:hover) ol, div.post li:not(:acitve) ol {
	opacity: 0.3;
	max-height: 0;
	visibility: hidden;
	/*transform: translateX(130%);*/
	transform: scale3d(0);
  	transition: all 1.2s ease;
	background: inherit;
	color: inherit;
}

.touch,
div.post section>ol>li:hover ol, div.post section>ol>li:active,
div.post section>ul>li:hover ul, div.post section>ul>li:active {
	opacity: 1;
	max-height: 1000px;
	visibility: visible;
	transform: scale3d(110%);
	transition: all 1.8s ease;
	background: lightgrey;
	color: black;
}

.collapse {
}