---
---
$small: 430px
	
.row
  display: block
  box-sizing: border-box
  @for $i from 1 through 12
    .col-#{$i}
      flex: none
      float: left
      width: ($i / 12) * 100%
      @meida screen and (max-width: 400px)
        float: none
        width: 100%