html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
  box-sizing: border-box;
}
body {
	font-family:"Lucida Grande","LiSu","KaiTi","Helvetica Neue","Helvetica","Arial","Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei UI","Microsoft YaHei","WenQuanYi Micro Hei","Comic Sans MS", cursive, sans-serif;
	background-size: cover;
	background-attachment: fixed;
	overflow-x: hidden;
}

.container,
#fullpage,
footer,
header,
menu,
nav,
section,
summary {
  	display: block;
  	position: relative;
}

a {
	text-decoration: none;
}

ul, ol {
	list-style:none;
}

#fullpage
footer {
	clear: both;
}
footer ul {
	list-style-type:none;
	overflow: hidden;
	background-color: grey; /* black in 20% lightness */
}
footer li {
	float: left;
	padding: 15px 15px;
}
footer a {
	display: block;
	color: white;
	text-align: center;
	text-decoration: none;
}

.text-muted {
	border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
	color: gery;
	background: white;
}

p.standard {
	margin: 0;
}

p.standard::first-letter {
	font-size: 100%;
	padding-left: 0;
}

img {
	width: 100%;
}

.formula {
	padding-left: 1em;
	padding-right: 1em;
}

@media (max-width: 767px) {
	
	.thumb-col blockquote {
		margin-left: -21%;
		min-width: 200px;
	}
	
	div#fullpage.row {
		margin-top: 58px;
		margin-left: 0;
		overflow-x: hidden;
		transition: 0.6s;
		-webkit-transform: translateZ(0);
		transform: translate3d(0,0,0);
		-webkit-transform: translate3d(0,0,0);
		width: 100%;
		posiiton: relative;
	}
	
	div#fullpage.row.collapsed {
		margin-left: 80%;
		width: 100%;
		transition: 0.6s;
		-webkit-transform: translateZ(0);
		transform: translate3d(0,0,0);
		-webkit-transform: translate3d(0,0,0);
		position: relative;
	}
	
	h1 {
		margin-left: 0.2em;
		margin-right: 0.2em;
	}
	
	ul.posts {
		-webkit-padding-start: 0px;
	}
	
	.text-muted {
		border-bottom-right-radius: 0px;
	}
}