
#fullpage {
	position: relative;
	background-color:white;
	margin: auto;
	max-width: 640px;
}

@meida screen and (max-width: 430px) {
	max-width: 75%;
}

blockquote {
	font-style:italic;
	padding-top:0.5em;
	padding-bottom:0.5em;
	color: white;
	padding-left: 1em;
	padding-right: 1em;
	background: grey;
	border-radius: 4px;
}

.meta {
	padding-left:1em;
	font-size: small;
	color: lightgrey;
	font-family: "sans-serif";
}

p {
	padding-left: 1em;
	padding-right: 1em;
	margin-bottom: 1.2em;
	hyphens: manual;
}

section {
	display: inline-block;
	vertical-align: top;
	margin: auto;
	margin-top: 1.2em;
	margin-bottom: 0.6em;
	text-align: center;
	box-sizing: border-box;
}

section p,
section span {
	line-height: 1.2em;
}

section p.standard:first-letter {
	font-size: 150%;
	margin-right: -1em;
	float: left;
	text-transform: uppercase;
}

.box {
	margin: auto;
	border: 1px solid rgb(102, 204, 197);
	color: rgb(102, 204, 197);
}

div.post img {
	width: 100%;
	display: block;
	margin: auto;
}

div.post img {
	counter-increment: figures;
}

div.figure:after {
	content: "Figures " counter(figures) " : " attr(alt);
	display: table;
	margin: auto;
	font-style: italic;
	font-family: fantasy;
}

div.post {
	padding: 15px;
	counter-reset: figures;
	counter-rest: tables;
	word-wrap: break-word;
	overflow: hidden;
}

div.post ul, 
div.post ol {
}

div.post li>ul,
div.post li>ol {
	list-style: disc;
}
div.post p+ul,
div.post p+ol {
	list-style:lower-greek;
	color: aliceblue;
	font-style:italic;
	margin-left: 1em;
	border-left: 4px solid mediumslateblue;
}

div.post p::first-letter {
	font-size: 200%;
	font-weight: bold;
	padding-left: 0.5em;
	margin-top: -15px;
	float: left;
}

div.post p::first-line {
	text-transform: uppercase;
}

hr {
  border: 0;
  width:80%;
  margin: auto;
  height:2px;
  background: radial-gradient(ellipse at 50% 50%,  rgba(0,0,0,0.6) 0,rgba(255,255,255,0) 70%); /* W3C */ 
}

pre.highlight {
	background-color: whitesmoke;
	border: 1px solid lightgrey;
	border-left: 4px solid black;
	border-radius: 4px;
}
code {
	font-size: small;
	margin-left: 1em;
	display: block;
	word-wrap: normal;
	line-height: 1.0em;
	margin-top: 0.5em;
    margin-bottom: 0.5em;
	overflow-x: scroll;
}

body, button, input, select, textarea {
  font: 300 1em/1.8 PingFang SC, Lantinghei SC, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans-serif;
}