/*@import "default.css"*/
@media (min-width: 768px){
	.navbar-toggle .icon-bar {
		display: block;
		width: 22px;
		height: 2px;
		border-radius: 1px;
	}
	.navbar-toggle .icon-bar + .icon-bar {
	  	margin-top: 4px;
	}
	
	nav img.logo_seo {
		background-image: url("/images/logo_seo.png");
		background-color: inherit;
		background-repeat: no-repeat;
	}
	.navbar-header {
		position: absolute;
		top: 0;
  		border-width: 0 0 1px;
	}
	ul.navbar {
		list-style-type:none;
		float: left;
		padding: 0;
		overflow: scroll;
		background-color: hsl(0,0%,20%); /* black in 20% lightness */
	}
	ul.navbar > li {
		float: left;
	}
	ul.navbar > li a {
		display: block;
		color: white;
		padding: 14px, 16px;
		text-align: center;
		text-decoration: none;
	}
	ul.navbar > li a:hover {
		background-color: black;
	}
}
