# using jekyll style static structures
_site/
lib/bootstrap-table/
面试算法.xml
课程设计.xml

*.caffemodel
*.prototxt
*.prototxt.txt
framework_demos/sklearn/*.jpg
framework_demos/sklearn/lfw_fea.npy
js/ES6/node_modules/
*.mat
Correlation Metrics/ConvNet/cs231n/
