# using jekyll style static structures
_site/
lib/bootstrap-table/
面试算法.xml
课程设计.xml

*.caffemodel
*.prototxt
*.prototxt.txt
frameworks_demos/sklearn/*.jpg
frameworks_demos/sklearn/sklearn_lfw.ipynb
frameworks_demos/sklearn/.ipynb_checkpoints/
frameworks_demos/sklearn/fea_vector
