---
layout: default
title: Garden of Edian, yiak
---
<style type="text/css">
#fullpage {
    max-width: 100%;
    }
@media (max-width: 414px) {

.canvasVideo,
video#background-video {
	position: absolute; top: 303px; left: 0; right: 0; bottom: 0;
	max-width: 100%; min-height:1px;
	width: 100%; height: auto; z-index: -100;
	background: url(/images/norway.png) no-repeat;
	background-size: cover;
	/*border-radius: 15px 25px;*/
	display: block;
	}
}
</style>

<div class="col-4" style="padding: 10px;"><img class="circular" src="/images/photo.png"></div>
<div class="col-6">
    <h1 style="background-color:initial;color:green;opacity:0.7"> Hi, I am Wang YI, which is short for Yiak.</h1>
    <p class="next"> Here is the Tutorial About algorithms commonly used in interview. I am going to kick off project based learning</p>
	
	<div class="sidebar">
		<h1 class="next" style="background-color:initial;color:green;opacity:0.7">{{ page.title }}</h1>
		<ul class="posts">
			{% for post in paginator.posts  %}
				<li class="panel">
					<div class="row">
						<div style="width:25%;float:left;flex:none">
					{% if post.thumb_img %} 
					<img src="{{post.thumb_img}}" style="width:80%;margin:10%"> 
					{% endif %}
						</div>
					{% if post.thumb_img %}
						<div style="width:74%;float:left;flex:none:border-left:2px solid #ccc!important" class="thumb-col">
					{% else %}
						<div style="width:100%">
					{% endif %}
					<span class="meta" style="color: black;"> <i class='fa fa-calendar'></i> {{ post.date | date_to_string }}</span>
					<a href="{{post.url}}" title="{{post.title}}" style="left:10px;">{{post.title}}</a><hr style="margin-top:10px;margin-bottom:10px;background:rgba(0,0,0,0.2);width:90%;box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12)">
					{% if post.thumb_img %}
					<div class="panel">{{ post.excerpt }}</div>	
					{% else %}
					<div class="panel">{{ post.excerpt }}</div>
					{% endif %}
						</div>
					</div>
				</li>
			{% endfor %}
		</ul>
	</div>
	

{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
  {% else %}
    <span>&laquo; Prev</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <em>{{ page }}</em>
    {% elsif page == 1 %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
  {% else %}
    <span>Next &raquo;</span>
  {% endif %}
</div>
{% endif %}
</div>
