<!DOCTYPE html>
<html lang="utf-8">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatiple" content="IE-edge">
        <meta name="description" content="Yi' blog">
        <meta name="author" content="王翼">
        
        <title>{{page.title}}</title>
        <!-- Global Fonts-->
        <!-- link href="/lib/font-awesome-4.1.0/css/font-awesome.css" rel="stylesheet" type="text/css" -->

        <!-- Customer CSS-->
		<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="/css/default.css" rel="stylesheet" type="text/css">
		<link href="/css/nav.css" rel="stylesheet" type="text/css">
		<link href="/css/col.css" rel="stylesheet" type="text/css">
		<link href="/css/portfolio.css" rel="stylesheet" type="text/css">
		<link href="/css/animatedbar.css" rel="stylesheet" type="text/css">
		<link href="/css/panel.css"  rel="stylesheet" type="text/css">
		<link href="/css/diary.css"  rel="stylesheet" type="text/css">
		<link href="/lib/syntax.css" rel="stylesheet" type="text/css">
    </head>

    <body>
        <div id="wrapper">
            <nav>
                <div class="navbar-header">
					<!-- toggle menu-->
                    <a href="javascript:void(0)" onclick="toggle()" type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle Navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
					<li><a class="navbar-brand" href="http://www.yiak.co"> Yiak <img class="logo_seo"></a></li>
                </div>
                <ul class="navbar">
                    <li><a href="/">Base</a></li>
                    <li><a href="/about.html">About</a></li>
                    <li><a href="/cv">CV</a></li>
                </ul>
            </nav>

            <div id="fullpage" class="row">{{content}}</div>

            <footer>
				<div class="row">
                <ul>
                    <li><a href="mailto:yiak.wy@gmail.com">email</li>
                    <li><a href="https://github.com/yiakwy/">github.com/yiakwy</a></li>
					<li class="text-muted"><p class="standard">author：Wang Yi (lei) (yiak.wy@gmail.com)
						&copy; 2017-2018 <strong><abbr title="wangyi" class="initialism">Yiak</abbr> </strong> — Yi @ MagicCubic
					</p></li>
                </ul>
				</div>
					
            </footer>     
        </div>
		
		<script type="text/javascript" src="/lib/jQuery/jquery-1.11.1.js"></script>
		<script type="text/javascript" src="/js/dom_filter.js"></script>
		
		<script type="text/javascript">
			function _init() {
				$.fn.jsInj.prototype.wrap('img', 'figure')
			}
			
			function toggle() {
				var cls = "collapsed";
				var doc = document;
				var el1 = doc.querySelector("div#fullpage");
				var el2 = doc.querySelector(".navbar-toggle");
				var el3 = doc.querySelector("nav ul");
				if (! el1 || ! el2 || ! el3) {return;}
				el1.classList.toggle(cls);
				el2.classList.toggle(cls);
				el3.classList.toggle(cls);
			}
		
			_init()
		</script>
    </body>

</html>
