<!DOCTYPE html>
<html lang="utf-8">
    <head>
        <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        <meta http-equiv="X-UA-Compatiple" content="IE-edge">
        <meta name="description" content="Yi' blog">
        <meta name="author" content="王翼">
        
        <title>{{page.title}}</title>
        <!-- Global Fonts-->
        <!--link href="/lib/font-awesome-4.1.0/css/font-awesome.css" rel="stylesheet" type="text/css"-->
        <!-- Customer CSS-->
		<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="/css/default.css" rel="stylesheet" type="text/css">
		<link href="/css/nav.css" rel="stylesheet" type="text/css">
		<link href="/css/col.css" rel="stylesheet" type="text/css">
		<link href="/css/portfolio.css" rel="stylesheet" type="text/css">
		<link href="/css/animatedbar.css" rel="stylesheet" type="text/css">
		<link href="/css/panel.css"  rel="stylesheet" type="text/css">
		<link href="/css/diary.css"  rel="stylesheet" type="text/css">
		<link href="/lib/syntax.css" rel="stylesheet" type="text/css">
    </head>

    <body>
        <div id="wrapper">
            <nav>
                <div class="navbar-header">
					<!-- toggle menu-->
                    <a type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle Navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
					<li><a class="navbar-brand" href="http://www.yiak.co"> Yiak <img class="logo_seo"></a></li>
                </div>
                <ul class="navbar">
                    <li><a href="/">Base</a></li>
                    <li><a href="/about.html">About</a></li>
                    <li><a href="/cv">CV</a></li>
                </ul>
            </nav>

            <div id="fullpage" class="row">{{content}}</div>

            <footer>
				<div class="row">
                <ul>
                    <li><a href="mailto:yiak.wy@gmail.com">email</li>
                    <li><a href="https://github.com/yiakwy/">github.com/yiakwy</a></li>
					<li class="text-muted"><p class="standard">author：Wang Yi (lei) (yiak.wy@gmail.com)
						&copy; 2017-2018 <strong><abbr title="wangyi" class="initialism">Yiak</abbr> </strong> — Yi @ MagicCubic
					</p></li>
                </ul>
				</div>
					
            </footer>     
        </div>
		
		<script type="text/javascript" src="/lib/jQuery/jquery-1.11.1.min.js"></script>
		<script type="text/javascript" src="/js/dom_filter.js"></script>
		<script type="text/javascript">
			function _init() {
				window.addEventListener('load', function() {
					var doc = document
					doc.querySelector(".navbar-toggle").addEventListener("click", toggle) // for chrome
				})
				
				// for ios safari
				var doc = document
				doc.querySelector(".navbar-toggle").addEventListener("click", toggle)
				/* doc.body.addEventListener("touchmove", function(evt) {
					evt.preventDefault();
				}, false) */
				
				$.fn.jsInj.prototype.wrap('img', 'figure')
				$("div.post p+ol").wrap("<section>")
				$.fn.jsInj.prototype.bibitexParse()
				$.fn.jsInj.prototype.add_click_me()
				$("div.post p+ol>li").click(function(){
					$("div.post li > ol").toggleClass("collapse")
				})
				
				
				chrome_re = /Chrome|chrome/
				safari_re = /Safari|safari/
				/* once we set body.overflow to hidden, there is no need for these codes
				if (chrome_re.test(navigator.userAgent) &&
				    $.fn.jsInj.prototype.isMobile()) {
					var doc = document,
						s = doc.querySelector("nav ul")
					s.style.width = "44.9%"
					
				}
				*/
				
				// add events
				var nodelist = doc.querySelectorAll("div.post li ol")
					i = 0
				for (; i < nodelist.length; i++) {
					var el = nodelist.item(i)
					var query = el.parentElement.querySelector("span.click")
					// query && query.addEventListener("touchstart", function(evt) {
					query && query.addEventListener("click", function(evt) {
						console.log("trigger a touchstart event!")
						evt.preventDefault()
						// if (evt.targetTouches.length == 1) {
							query.classList.toggle("leave")
							query.classList.toggle("touch")
						// }
					})
				}

			}
			
			function toggle() {
				var cls = "collapsed";
				var doc = document;
				var el1 = doc.querySelector("div#fullpage");
				var el2 = doc.querySelector(".navbar-toggle");
				var el3 = doc.querySelector("nav ul");
				if (! el1 || ! el2 || ! el3) {return;}
				el1.classList.toggle(cls);
				el2.classList.toggle(cls);
				el3.classList.toggle(cls);
			}
			
			var scaleMath = function () {
				var doc = document
				var formula = doc.querySelectorAll(".formula")
				var f, p, i=0,j, pset_array
				// for (let f of formula) { // not supported in ios safari
				for (; i < formula.length; i++) {
					f = formula[i]
					var pset = f.getElementsByClassName("MathJax_Preview")
					
					// for (let p of Array.from(pset)) {
					j = 0;
					pset_array = Array.from(pset)
					for (;j < pset_array.length; j++ ) {
						p = pset_array[j]
						p = p.nextSibling.firstChild
						console.log("isMultiline", MathJax.Hub.getAllJax(f)[0].root.isMultiline)
						console.log("f offsetWidth", 	f.offsetWidth)
						console.log("p offsetWidth", 	p.offsetWidth)
						var ratio = f.offsetWidth / p.offsetWidth
						console.log("ratio", ratio)
						var factor
						
						if ($.fn.jsInj.prototype.isMobile()) {
							factor = 0.8
						} else {
							factor = 0.8
						}
						
						p.style.fontSize = String(ratio * 100 * factor) + "%";
					}
						
				}
			}
		
			_init()
		</script>
	
       	<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
		<!--script type="text/javascript" src="/lib/mathjax-MathJax-f5cd294/MathJax.js?config=TeX-AMS-MML_HTMLorMML"-->
			window.MathJax = MathJax
			MathJax.Hub.Config({						
				displayAlign: "left",
				displayIndent: "1em",
				extensions: ["tex2jax.js", "asciimath2jax.js", "mml2jax.js", "MathMenu.js", "MathZoom.js"],
				TeX: {
    				extensions: ["AMSmath.js", "AMSsymbols.js", "autoload-all.js"],
					equationNumbers: { autoNumber: "all" },
					TagSide: "left"
  				},
				tex2jax: {
					inlineMath: [['$','$'],['\\[','\\]']], 
					displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
					processEscapes: false
				},
				// CommonHTML: { linebreaks: { automatic: true } },
				"HTML-CSS": { 
					// linebreaks: { automatic: true },
					styles: { ".MathJax" : { color: "brown !important" } }			
				},
				// SVG: { linebreaks: { automatic: true } }
				styles: {
					 ".MathJax_Display": {
					 	display: "table-cell ! important",
					 	padding: "0em 0 ! important"
					 }
				}
			})
			MathJax.Hub.Register.MessageHook("End Process", function(msg) {
					console.log(msg)
					console.log("begin post processing")
					scaleMath()
				})
		</script>
		
		<script>
		//
		//  Use a closure to hide the local variables from the
		//  global namespace
		//
		(function () {
			var QUEUE = MathJax.Hub.queue;  // shorthand for the queue
			var math = null;                // the element jax for the math output.
			
			QUEUE.Push(function(){
				math = MathJax.Hub.getAllJax(".formula")[0];
			})
			
			window.UpdateMath = function (TeX) {
				QUEUE.Push(["Text",math,"\\displaystyle{"+TeX+"}"])
				}
		 })();
		</script>
    </body>

</html>
