---
layout: default
---


<h1>{{page.title}}</h1>
<p class="meta"> <i class='fa fa-calendar'></i> created on {{ page.date | date_to_string }}, last updated on {{ page.updated | date_to_string }} </p>
<hr>
<div>
<section class="tags" style="border-right:1px solid rgb(102, 204, 197);color:rgb(102, 204, 197);width:50%;height:95px;padding-top:30px;"> Tony Wong <img class="avatar" style="float:right"> </section>
<section class="tags" style="width:40%;">
	<div class="box" style="width:180px;">
		<p class="standard">
			reading this article
			<br>
			can only cost you
			<br>
			<span style="font-size: 2em;color;color:grey;">{{ page.reading_expenditure }}</span>
			<br>
			minutes
		</p>
	</div>
</section>
</div>
<div class="post">
    {{content}}
</div>
